.container {
  display: flex;
  padding: 40px 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  /* background-color: red; */

}

.showview {
  width: 100%;
  background-position: center center;
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-size: cover;  
  /* width: 75%;
  max-width: 350px; */
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
} 

div.show-details {
  width: 98%;
  /* background-color: red; */
  border-radius: 20px;
  padding: 30px;
  box-shadow: 5px 5px 6px -1px #AAA;
}

.color-block {
  width: 25px;
  height: 25px;
  opacity: 0.8;
  border-radius: 4px;
  margin-right: 10px;
}

.show-details h1 {
  margin: 15px 0 3px;
  font-size: var(--font-xxl);
}

.show-details h2 {
  margin-top: 0;
  margin: 0 0 10px;
  margin-bottom: 10px;
  font-size: var(--font-xl);
}

.show-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.show-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

#file-input {
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }
}