html {
  box-sizing: border-box
}

*, 
*::before, 
*::after { 

  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

#root {
  width: 100vw;
}
/* @media (prefers-color-scheme: light) { */

  body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Antic Slob','Trebuchet MS', 'Geneva', 'Lucida Grande', 'Lucida Sans', 'Arial Narrow Bold', sans-serif ;
    min-height: 100vh;
    --font-l: 1.8rem;
    --font-xl: 2.4rem;
    --font-reg: 1.6rem;
    --font-med: 1.7rem;
    --font-xxl: 3.6rem;
    --font-xtreme: 4.2rem;
    --card-border-radius: 6px;
    --text-color: rgb(17, 20, 17);
    --button-bg: rgb(245, 245, 245);
    --button-bg-hover: rgb(226, 226, 226);
    --card-box-shadow: 5px 5px 6px -1px #AAA;
  }

  header {
    width: 100%;
    background-color: red;
    background: var(--nav-bg-ff);
    border-bottom: var(--borders);
  } 

  .navigation-bar{
    background-color: white;
    padding: 10px;
    width:100%;
    justify-content: right;
  }

  nav {
    margin: 10px;
    background-color: rgb(251, 248, 248);
    border-radius: 5px;
    /* background-color: blue; */
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  main {
    width: 100vw;
  }

  h2 {
    font-size: var(--font-xl);
  }

  nav a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  nav li {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 8px;
    text-decoration: none;
    color: var(--text-color);
  }

  nav li:hover {
    cursor: pointer;
  }

  .page-header {
    margin: 20px;
    display: flex;
    padding: 8px 0px;
    align-items: center;
  
  }

  .btn {
    cursor: pointer;
    font-weight: 600;
    padding: 8px 16px;
    border-width: 2px;
    border-radius: 6px;
    margin-right: 10px;
    border-style: solid;
    font-family: inherit;
    text-decoration: none;
    font-size: var(--font-l);
    background-color: var(--button-bg);
  }

  .btn:hover {
    background-color: var(--button-bg-hover);
  }

  .submit {
    color: black;
    border-color: rgb(155, 153, 153);
  }

  .page-header h1 {
    font-size: var(--font-xxl);
    margin: 0;
  }

  @media only screen and (min-width: 768px) {
    header {
      top: 0;
      display: flex;
      position: sticky;
      flex-direction: row;
      align-items: center;
    }

    main {
      max-width: 1920px;
      min-height: calc(100vh - 53px);
      margin: 0 auto;
    }

    nav {
      display: flex;
      margin-left: auto;
      justify-content: center;
    }

    nav ul {
      flex-wrap: nowrap;
    }


    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      header {
        background: var(--nav-bg);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    main {
      min-height: calc(100vh - 55px);
    }
    
    header {
      top: 20px;
      max-width: 1920px;
      border-bottom: none;
      margin: 20px auto 0 auto;
      width: calc(100vw - 40px);
      background-color: transparent;
    }

    nav {
      margin-left: auto;
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      header {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
      }
    }
  }

/* } */

@media (prefers-color-scheme: dark) {
  
  .card-content {
    color: black;
  }
}