/* @media (prefers-color-scheme: light) { */
.curtain {
  width: 100%;
  background-position: center center;
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-size: cover; 
}

.quote {
  padding: 40px;
}

@media only screen and (min-width: 768px) {

}

/* } */